body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000000;
}

header {
  background-color: #000000;
  color: rgb(17, 255, 0);
  padding: 20px;
  font-size: 30px;
}

nav a {
  color: rgb(0, 255, 81);
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 81);
}

#hero {
    color: #00ff00;
  background-color: rgb(0, 0, 0);
  margin: 40px auto;
  padding: 40px 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(25, 254, 0);
}

button {
  background-color: hsl(92, 100%, 3%);
  color: rgb(7, 255, 7);
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 255, 0);
}

button:hover {
  background-color: #00ff00;
}

#features {
    color: rgb(0, 255, 38);
  background-color: rgb(0, 0, 0);
  margin: 40px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 255, 47);
}

#contact {
  background-color: rgb(0, 0, 0);
  margin: 40px auto;
  color: #00ff00;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-color: rgb(2, 0, 0);
  box-shadow: 0 0 10px rgb(3, 255, 49);
}

form input {
  color: rgb(248, 244, 244);
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #02ff0b;
}
